* { 
    margin: 0px;
    border: 0px;
}
:root{
    --nav-width:200px;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
header, footer {
    margin:0px;
    width: 100%;
    height: 50px;
    background-color:aquamarine;
}
main {
width:100%;
height: calc(100% - 50px - 50px);
}
nav, section {
    display:inline-block;
    float:left;
}
nav { 
    width: var(--nav-width);
    height: 100%;
    background-color:grey;
}
section {
    width: calc(100% - var(--nav-width));
    height: 100%;
    background-color:red;
}
.book-card {
    width: 250px;
    height: calc(1.61 * 250px);
    margin: 50px;
    border: 50px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    background-color:bisque;
    display:inline-block;
    float: left;
}