html{
    height:100%;
    width:100%;
}
body {
    height:100%;
    width:100%;
    margin: 0px;
}

.row {
    margin:0px 0px 0px 0px;
    height: calc(100% / 64);
    overflow: hidden;
}
.column {
    margin:0px 0px 0px 0px;
    height: 100%;
    width: calc(100% / 64);
    display:inline-block;
    overflow: hidden;
}
.colored {
    background-color: black;
}
.uncolored {
    background-color: #d3d3d3;
}
