html{
    height:800px;
    width:800px;
}
body {
    height:100%;
    width:100%;
    margin: 0px;
}

.row {
    margin:0px 0px 0px 0px;
}
.column {
    margin:0px 0px 0px 0px;
    height: 100%;

    display:inline-block;
    overflow: hidden;
}
.colored {
    background-color: black;
    color:black;
}
.uncolored {
    background-color: #d3d3d3;
}
